
Imagepublicationagreement/*.log

Imagepublicationagreement/agreement.aux

Imagepublicationagreement/agreement.synctex.gz

Imagepublicationagreement/agreement.out

calendar.log

calendar.aux

calendar.synctex.gz
